.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    gap: 25px;
}

.navlink {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.navlink:hover {
    background-color: #575757;
}

.navlink.cart-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    color: white;
    font-size: 1.5em;
}
.cart-count {
    background-color: #f01418;
    color: transparent;
    border-radius: 50%;
    padding: 0;
    width: 8px;
    height: 8px;
    font-size: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    line-height: 1;
    min-width: 0;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.poke-toggle-container{
    position: relative;
    display: inline-block;
    width:40px;
    height: 10px;
    margin-right: 15px;
    background-color: #494949;
    border-radius: 20px;
    border: 2px solid #ffffff;
    box-shadow: inset 0 0 5px rgb(0,0,0,0.3);
}

.poke-slider{
    position: absolute;
    cursor:pointer;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: rgba(233, 186, 32, 0.979);
    transition: background-color 0.4s ease;
    z-index: 0;
}
.poke-img{
    position: absolute;
    height: 20px;
    width: 20px;
    top: -4px;
    left:-7px;
    transition: transform 0.4s ease;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0,0,0,0.2);
    z-index: 1;
}
.poke-checkbox:checked + .poke-slider .poke-img{
    transform: translateX(35px);
}

.poke-checkbox:checked + .poke-slider{
    background-color: #555;
}

.poke-checkbox{
    opacity: 0;
    width:0;
    height: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}